body{
    background-color: rgb(142, 221, 247);
}



a{
    color: rgb(10, 100, 174);
    text-shadow: 1px 1px 1px white;
}

body {
    color: purple;
    text-shadow: 1px 1px 1px white;
}

h1 {
  font-family: "Rubik Storm", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(196, 9, 180);
  text-align: center;
}

#About {
    padding-top: 25px;
}

#About p {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

}

#Experience {
    padding-top: 20px;
}

#Connect {
    padding-top: 30px;
}

h1 + img{
    height: 200px;
    width: auto;
    display: block;
    margin: auto;
}

li > a > img {
        height: 50px;
        width: auto;
}

#About{
    text-align: center;
}

h1, h2 {
    font-size: 24px;
    font-weight: 600;
    color: blueviolet;
}

#Experience li {
  list-style: none;
  background-color: rgb(242, 220, 242);
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 6px;
  text-shadow: 1px 1px 4px rgb(142, 221, 247);
}


.html-bar {
    width:400px;
}

.css-bar {
    width: 300px;
}

.js-bar {
    width: 500px;
}

.student-bar {
    width: 1000px;
}

#Connect a {
  color: rgb(3, 153, 3);
}

nav{
    background-color: rgb(242, 220, 242);
    height: 40px;
    margin: -8px;
    text-align: center;
    padding: 1px;
    font-family: serif;
    font-weight: 600;
}

nav a {
    margin: 0 100px;
    text-decoration: none;
}